.navbar .nav-link {
    font-size: 1.1rem; 
    font-weight: bold; 
    text-transform: uppercase; 
    color: #ece5e5; 
}

.navbar .nav-link:hover {
    color: #ffc107;
}
.hero {
    height: 85vh;
    background-image: url('bg.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    color: rgb(146, 49, 49); 
}

/* Adjust the size of card icons */
.card img {
    width: 100%; 
    height: auto; 
    max-height: 150px; 
    object-fit: contain;  
    margin: 0 auto; 
    padding: 10px; 
}
/* Progress Bar Styling */
.progress {
    height: 30px;
    border-radius: 5px; 
    margin-top: 10px;
    background-color: #f1e2e2; 
}

.progress-bar {
    height: 100%; 
    line-height: 30px; 
    text-align: center; 
    color: rgb(247, 237, 237);
    font-weight: bold;
    border-radius: 5px; 
    transition: width 1s ease-in-out; 
}
